div.maindiv {
    background-image: url("../assets/images/pg1.jpg");
    height: 100vh;
    width: 100vw;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
