<!-- <div class="menu">
    <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false" />
    </div>
    <div class="name">Alex</div>
    <div class="last"> alex&#64;demo.com - Chatbot</div>
</div>
<ol class="chat">
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>Hola!</p>
            <p>Te vienes a cenar al centro?

            </p>
            <time>20:17</time>
        </div>
    </li>
   <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>Puff...</p>
            <p>Aún estoy haciendo el contexto de Góngora...

            </p>
            <p>Mejor otro día</p>
            <time>20:18</time>
        </div>
    </li>
    
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>Qué contexto de Góngora?

            </p>
            <time>20:18</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>El que mandó Marialu</p>
            <p>Es para mañana...</p>
            <time>20:18</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>
                demo content
            </p>
            <p>Pásamelo!

            </p>
            <time>20:18</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <img src="https://i.imgur.com/QAROObc.jpg" draggable="false" />
            <time>20:19</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>Gracias!

            </p>
            <time>20:20</time>
        </div>
    </li>
    <div class="day">Hoy</div>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>Te apetece jugar a Minecraft?</p>
            <time>18:03</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>Venga va, hace ya mucho que no juego...</p>
            <time>18:07</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>Ehh, me crashea el Launcher...

            </p>
            <time>18:08</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>
                dummy content
            </p>
            <time>18:08</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>Es broma</p>
            <p>Ataque Moai!</p>
            <time>18:09</time>
        </div>
    </li>
    <li class="other">
        <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
        <div class="msg">
            <p>Copón</p>
            <p>
                demo content
            </p>
            <time>18:08</time>
        </div>
    </li>
    <li class="self">
        <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
        <div class="msg">
            <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
            <p><a href="google.com" target="parent">Link to share</a></p>
            <time>18:09</time>
        </div>
    </li>
</ol>
<div class="sendmessagebox">
    <div class="textzone">
        <input class="textarea" type="text" placeholder="Type here!" />
    </div>
    <div class="sendbtnzone">
        SEND
        <svg version="1.1" id="svg1" width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg">
            <defs id="defs1" />
            <g id="g1">
                <path style="fill:#1899cd"
                    d="m 20.996221,31.332456 -3.774706,-4.73079 5.013243,-6.269171 c 7.463268,-9.33298 8.278858,-10.561477 5.869498,-8.84104 -1.1,0.785471 -4.821123,3.684089 -8.269166,6.441372 L 13.565919,22.94607 8.835129,19.171364 C 6.233194,17.095276 4.104321,15.077155 4.104299,14.686651 4.10424,13.626541 34.858246,3.7062016 35.659816,4.5077686 c 0.80157,0.801567 -9.11877,31.5555754 -10.17888,31.5555174 -0.39051,-2.2e-5 -2.408627,-2.128895 -4.484715,-4.73083 z"
                    id="path1" />
            </g>
        </svg>

    </div>
</div> -->

<div class="background-container" [ngStyle]="{'background-image': 'url(' + currentImageUrl + ')'}">

    <div class="wrapper">
        <div class="main-title"><h2>Experience Tamil Nadu</h2></div>
        <div class="themes-block">
            <h4 class="theme-title">Heritage</h4>
            <h3 class="theme-main-title">Lorem ipsum dolor sit amet</h3>
            <div class="desc"><p>Fusce eu tortor sem. Nulla nec venenatis risus. Praesent varius in dui ac blandit.</p></div>
        </div>
    </div>

    <!-- chat-popup -->
    
    <div class="chat-popup" *ngIf="isChatOpen">
        <!-- Header -->
        <div class="chat-header">
          <span class="chat-title">Live Chat</span>
          <button class="close-button" (click)="closeChat()">Close</button>
        </div>
      
        <!-- Chat messages -->
        <div class="chat-messages">
          <!-- Display chat messages here -->
          <ol class="chat">
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>Hola!</p>
                    <p>Te vienes a cenar al centro?
        
                    </p>
                    <time>20:17</time>
                </div>
            </li>
           <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>Puff...</p>
                    <p>Aún estoy haciendo el contexto de Góngora...
        
                    </p>
                    <p>Mejor otro día</p>
                    <time>20:18</time>
                </div>
            </li>
            
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>Qué contexto de Góngora?
        
                    </p>
                    <time>20:18</time>
                </div>
            </li>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>El que mandó Marialu</p>
                    <p>Es para mañana...</p>
                    <time>20:18</time>
                </div>
            </li>
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>
                        demo content
                    </p>
                    <p>Pásamelo!
        
                    </p>
                    <time>20:18</time>
                </div>
            </li>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <img src="https://i.imgur.com/QAROObc.jpg" draggable="false" />
                    <time>20:19</time>
                </div>
            </li>
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>Gracias!
        
                    </p>
                    <time>20:20</time>
                </div>
            </li>
            <div class="day">Hoy</div>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>Te apetece jugar a Minecraft?</p>
                    <time>18:03</time>
                </div>
            </li>
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>Venga va, hace ya mucho que no juego...</p>
                    <time>18:07</time>
                </div>
            </li>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>Ehh, me crashea el Launcher...
        
                    </p>
                    <time>18:08</time>
                </div>
            </li>
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>
                        dummy content
                    </p>
                    <time>18:08</time>
                </div>
            </li>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>Es broma</p>
                    <p>Ataque Moai!</p>
                    <time>18:09</time>
                </div>
            </li>
            <li class="other">
                <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false" /></div>
                <div class="msg">
                    <p>Copón</p>
                    <p>
                        demo content
                    </p>
                    <time>18:08</time>
                </div>
            </li>
            <li class="self">
                <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false" /></div>
                <div class="msg">
                    <p>Hey there's a new update about this chat UI with more responsive elements! Check it now:</p>
                    <p><a href="google.com" target="parent">Link to share</a></p>
                    <time>18:09</time>
                </div>
            </li>
        </ol>
        </div>
      
        <!-- Chat input -->
        <div class="chat-input">
          <textarea  placeholder="Type your message..."></textarea>
          <button (click)="sendMessage()">Send</button>
        </div>
      </div>
      
      <!-- Chat icon -->
      <div class="chat-icon" (click)="openChat()">
        <img src="https://cdn-icons-png.flaticon.com/512/2665/2665038.png" alt="Chat Icon" width="48px">
      </div>
      </div>